# Dependencias
node_modules/

# Archivos de configuración
.env
config.js

# Archivos de registro
logs/
*.log

# Archivos de respaldo
*.bak
*.backup

# Archivos de compilación
dist/
build/

# Archivos de pruebas
coverage/

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros archivos
*.txt
*.md